- @main_keys = %w(name main_purpose price_per_meter status building_start_date estimated_building_end_date_string presence_string latitude longitude)
- @main_keys = @main_keys.map(&:to_sym)

- resource_presenter = present(:apartment, form, @resource)

= resource_presenter.form_address
= form.input :price
= resource_presenter.form_status
= resource_presenter.form_avatar
