= th :full_address, :"data-toggle" => "true", resource_class: resource_class
= th :main_purpose, :"data-hide" => "phone", resource_class: resource_class
= th :status, resource_class: resource_class
= th :levels_count, resource_class: resource_class
= th :apartments_count, resource_class: resource_class
= th :sections_count, resource_class: resource_class
= th