- resource_presenter = present(:apartment_house, form, @resource)




= resource_presenter.form_status

= resource_presenter.form_house_building_date_range

= resource_presenter.form_buildings_presence

= resource_presenter.form_price_per_meter

= resource_presenter.form_address

- resource_presenter.form_avatar