th[data-toggle="true"]
  |Адреса
/th data-hide=""
  |Країна
/th[data-hide="phone"]
  |Місто
th[data-hide="phone"]
  |Площа
th[data-hide="phone"]
  |Ціна від, грн/м
  sup
    |2
th[data-hide="phone,tablet"]
  |К-сть кімнат